# 前処理 (pandas)
## 生データのフォーマット

In [20]:
import pandas as pd

# training用
data = {
    "features1": [0, 1, 2, 3, 4, 5, 6, 7, 8, 30],
    "features2": [0, 1, 3, 3, 8, 5, 3, 3, 1, 0],
}

# ground truth用
scores =  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
classes =  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

data = pd.DataFrame(data)
data

   features1  features2
0          0          0
1          1          1
2          2          3
3          3          3
4          4          8
5          5          5
6          6          3
7          7          3
8          8          1
9         30          0

## ノイズ除去

In [21]:
# 90 percentile以上の値のものを90 percentileの値に置換する
percentile = 90
for v in data:
    threshold = data.describe(percentiles=[percentile/100])[v][str(percentile)+'%']
    data[v] = data[v].where(data[v] < threshold, threshold)
data

   features1  features2
0        0.0        0.0
1        1.0        1.0
2        2.0        3.0
3        3.0        3.0
4        4.0        5.3
5        5.0        5.0
6        6.0        3.0
7        7.0        3.0
8        8.0        1.0
9       10.2        0.0

## 正規化

In [23]:
import numpy as np

# -1 ~ 1に正規化
data = data.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))
data

   features1  features2
0  -0.452941  -0.458491
1  -0.354902  -0.269811
2  -0.256863   0.107547
3  -0.158824   0.107547
4  -0.060784   0.541509
5   0.037255   0.484906
6   0.135294   0.107547
7   0.233333   0.107547
8   0.331373  -0.269811
9   0.547059  -0.458491

# 分類

# 回帰